@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&family=VT323&display=swap");

:root {
    --color-text-primary: #f2f4fb;
    --color-text-secondary: #aeb3bd;
    --color-background-primary: #22222d;
    --color-background-secondary: #19191e;
    --color-blue: #2f9ddd;
    --color-green: #2fdd50;
    --color-red: #dd2f2f;
}

@mixin scroll-bar($color) {
    &::-webkit-scrollbar {
        width: 16px;
    }

    &::-webkit-scrollbar-thumb {
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 9999px;
        background-color: $color;
    }
}

* {
    @include scroll-bar(var(--color-background-secondary));
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    font-family: "Montserrat", sans-serif;
}

p {
    color: var(--color-text-secondary);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.slashcommand {
    font-size: 1.2rem;
    font-family: "VT323", monospace;
    background-color: var(--color-background-secondary);
    border: 1px solid var(--color-red);
    border-radius: 5px;
    &::before {
        content: "/";
    }
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100vh;
    overflow: auto;
    .sidebar {
        @include scroll-bar(var(--color-background-primary));
        background-color: var(--color-background-secondary);
        overflow-y: scroll;
        padding: 2rem;
        nav {
            ul {
                list-style: none;
                li {
                    transition: 100ms ease-in-out;
                    border-radius: 5px;
                    a {
                        display: block;
                        span {
                            display: inline-block;
                            padding: 0.3rem;
                            margin: 0.5rem;
                            transition: 100ms ease-in-out;
                        }
                    }
                    &:hover {
                        background-color: var(--color-background-primary);
                        a span {
                            border-color: var(--color-blue);
                        }
                    }
                }
            }
        }
    }
    .main {
        overflow-y: scroll;
        display: grid;
        row-gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: 56px 1fr;
        padding: 1rem 4rem 0 4rem;
        .main-nav {
            margin: 0 8rem;
            display: grid;
            grid-template-columns: 56px 1fr;
            grid-template-rows: 56px;
            column-gap: 2rem;
            ul {
                li {
                    display: inline;
                    float: right;
                    a {
                        display: block;
                        padding: 0 2rem;
                        line-height: 56px;
                        text-align: center;
                        transition: 100ms ease-in-out;
                    }
                }
            }
        }
        .main-commands {
            height: auto;
            .description {
                line-height: 2rem;
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 0.5rem;
                    border-radius: 0.5rem;
                    background-color: var(--color-background-secondary);
                    margin: 0.5rem 0 1.5rem 0;
                }
            }
            .commands {
                .command {
                    cursor: pointer;
                    background-color: var(--color-background-secondary);
                    margin-bottom: 1rem;
                    padding: 1rem;
                    border-radius: 1rem;
                    span {
                        display: inline-block;
                        padding: 0.3rem;
                        margin: 0.5rem 0;
                        transition: 100ms ease-in-out;
                        &:hover {
                            border-color: var(--color-blue);
                        }
                    }
                    fieldset {
                        display: none;
                        font-size: 1rem;
                        margin-top: 0.5rem;
                        padding: 1rem;
                        border: 4px solid var(--color-background-primary);
                        border-radius: 4px;
                        color: var(--color-text-secondary);
                        legend {
                            margin-left: 1rem;
                            padding: 0 0.5rem;
                            font-size: 1rem;
                            font-family: "Montserrat", sans-serif;
                            color: var(--color-text-primary);
                        }
                    }
                    .visible {
                        border: 1px solid var(--color-red);
                        padding: calc(1rem - 1px);
                        display: block;
                    }
                }
            }
        }
    }
}
