@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500&display=swap");

:root {
    --color-background: black;
    --color-primary: #3500d4;
    --color-secondary: #240090;
    --color-text-primary: white;
    --color-text-secondary: #b4a9d4;
    --color-highlighted: #ff00ff;
}

$scrollbar-height: 10px;
$scrollbar-width: 8px;
$scrollbar-border-radius: 10px;

@mixin scrollbar() {
    &::-webkit-scrollbar {
        border-radius: $scrollbar-border-radius;
        height: $scrollbar-height;
        width: $scrollbar-width;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-highlighted);
        border-radius: $scrollbar-border-radius;
    }

    &::-webkit-scrollbar-track {
        border-radius: $scrollbar-border-radius;
    }
}

.blank {
    position: absolute;
    width: 0;
    height: 0;
}

.center {
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.whitespace-margin {
    margin: 10rem 0;
}

@mixin neon-glow($color) {
    box-shadow: $color 0px 0px 10px;
}

@mixin neon-drop-glow($color) {
    filter: drop-shadow($color 0px 0px 5px);
}

@keyframes dotted-line-animation-left-right {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 20px 0;
    }
}

@mixin dotted-line-animation($direction) {
    @if $direction == right {
        animation: linear dotted-line-animation-left-right 1s infinite;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-text-primary);
}
h1 {
    font-weight: 200;
    font-size: clamp(2rem, 5vw, 5rem);
}
h2 {
    font-size: clamp(1.75rem, 5vw, 4rem);
}
h3 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}
h4 {
    font-size: clamp(1.25rem, 5vw, 2rem);
}
h5 {
    font-size: clamp(1.25rem, 5vw, 1.5rem);
}
h6 {
    font-size: clamp(1rem, 5vw, 1.25rem);
}
b {
    color: var(--color-highlighted);
}
div,
p {
    font-size: clamp(0.8rem, 5vw, 1rem);
    color: var(--color-text-secondary);
}

.content-block {
    @include neon-glow(var(--color-primary));
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
    font-family: "Roboto Mono", monospace;
    border-radius: 5px 5px 0px 5px;
}

* {
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: url(../images/customCursor.png), auto;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    color: var(--color-text-primary);
}

a,
link,
button,
a *,
link *,
button * {
    cursor: url(../images/customCursorPointer.png) 6 0, auto;
}

.default {
    @include scrollbar;
    background-color: var(--color-background);
    font-family: "Roboto Mono", monospace;
    padding: 0.04px; /* ? CSS hack to stop margin collapsing */
}

html,
body {
    @extend .default;
}

@keyframes background-grid-animation {
    from {
        background-position: 0, right 0px bottom 0px;
    }
    to {
        background-position: 0, right 199px bottom 199px;
    }
}

@keyframes background-left-to-right-animation {
    from {
        background-position: bottom 0;
    }
    to {
        background-position: top;
    }
}

@keyframes background-right-to-left-animation {
    from {
        background-position: top;
    }
    to {
        background-position: bottom 0;
    }
}

#particles-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    pointer-events: none;
    overflow: hidden;
}

.container {
    background: url(../images/moreShadedEdges.png), url(../images/backgroundOutline.png), no-repeat, repeat;
    background-size: 100% 100%, auto;
    animation: background-grid-animation 8s linear infinite;
}

#about {
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.hero {
    @extend .content-block;
    position: relative;
    height: 500px;
    width: clamp(0px, 60vw, 600px);
    margin: clamp(0px, 10%, 100px) auto;
    background-image: url(../images/beautifulDuck.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 100ms ease-in-out;
    .content {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        transition: all 500ms ease-in-out;
    }
    .hidden-content {
        opacity: 0;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        transition: all 500ms ease-in-out;
    }
    .hero-triangle {
        @include neon-drop-glow(var(--color-primary));
        position: absolute;
        width: 100px;
        bottom: -100px;
        right: 0;
        transition: all 100ms ease-in-out;
        path {
            fill: var(--color-primary);
            transition: all 100ms ease-in-out;
        }
        overflow: hidden;
    }
    .links {
        @include neon-glow(var(--color-highlighted));
        position: absolute;
        list-style: none;
        height: 2.5rem;
        width: 200px;
        bottom: -60px;
        left: -15px;
        display: inline-block;
        padding: 10px;
        background-color: var(--color-highlighted);
        @mixin links-triangle($direction) {
            @include neon-drop-glow(var(--color-highlighted));
            position: absolute;
            top: 0;
            width: 2.5rem;
            @if $direction == left {
                left: -2.5rem;
            } @else {
                right: -2.5rem;
            }
            path {
                fill: var(--color-highlighted);
            }
        }
        .links-triangle-left {
            @include links-triangle(left);
        }
        .links-triangle-right {
            @include links-triangle(right);
        }
        ul a {
            display: inline-block;
            transition: 100ms;
            &:hover {
                transform: translateY(-2px);
                text-shadow: 0px 0px 4px var(--color-secondary);
                &::before {
                    content: ">";
                }
                &::after {
                    content: "<";
                }
            }
        }
    }
    .dotted-line {
        @include dotted-line-animation(right);
        position: absolute;
        width: clamp(0px, 40vw, 500px);
        height: 5px;
        background: url(../images/miniDot.png) repeat;
        bottom: calc(-65px + 2.5rem);
        left: 200px;
        overflow: hidden;
        @media (max-width: 600px) {
            display: none;
        }
    }
    &:hover {
        @include neon-glow(var(--color-secondary));
        background-color: var(--color-secondary);
        .hero-triangle {
            @include neon-drop-glow(var(--color-secondary));
            path {
                fill: var(--color-secondary);
            }
        }
        .content {
            bottom: calc(500px - 5rem);
        }
        .hidden-content {
            opacity: 100;
        }
    }
}

.split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 100px;
}

@media (max-width: 900px) {
    .split {
        grid-template-columns: 1fr;
    }
}

.project {
    @extend .content-block;
    margin: clamp(10px, 10%, 50px);
    padding: 1rem;
    border-radius: 0;
    position: relative;
}
