<!DOCTYPE html>
<html lang="en">
    <!-- This style was inspired by samsy.ninja -->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://kit.fontawesome.com/cd8fc0a8d9.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="../static/css/newtest.css" />
        <title>Index - Schlöpp</title>
    </head>
    <body>
        <canvas id="particles-canvas"></canvas>
        <div class="container">
            <p id="about">ABOUT</p>
            <div class="hero">
                <div class="content">
                    <h3>WLCMTO_SCHLOPP</h3>
                    <p>Creator of stupid Discord bots</p>
                </div>
                <div class="hidden-content">
                    <h4>Welcome👋</h4>
                    <p>Hey! I'm schlopp. Welcome to my page!</p>
                </div>
                <svg class="hero-triangle" viewBox="0 0 2 2">
                    <path d="M 0 0 L 2 0 L 2 2" />
                </svg>
                <div class="links">
                    <ul>
                        <a href="https://github.com/schlopp" target="_blank">
                            <i class="fab fa-github-alt"></i>
                            <span>GITHUB</span>
                        </a>
                    </ul>
                    <svg class="links-triangle-left" viewBox="0 0 4 4">
                        <path d="M 2 0 L 4 0 L 4 4" />
                    </svg>
                    <svg class="links-triangle-right" viewBox="0 0 4 4">
                        <path d="M 0 0 L 2 4 L 0 4" />
                    </svg>
                </div>
                <div class="dotted-line"></div>
            </div>
            <h1 class="center whitespace-margin">ACTV_PROJECTS</h1>
            <div class="split">
                <div class="project" id="project-ppbot">
                    <h4>DSCRD_PPBOT</h4>
                    <p>
                        Pp bot is a meme-like Discord economy bot I made about a
                        year ago. It has dozens of thousands of users, with
                        countless command being used every day. I'm very proud
                        of this one
                    </p>
                    <ul class="project-links">
                        <span>Links:</span>
                        <a href="https://discord.gg/ppbot" target="_blank">Discord</a>
                        <a href="https://top.gg/bot/735147633076863027" target="_blank">TOP.GG</a>
                        <a href="https://github.com/schlopp/ppbot" target="_blank">GitHub</a>
                    </ul>
                    <div class="top-left-plus"></div>
                    <div class="top-right-plus"></div>
                    <div class="bottom-left-plus"></div>
                    <div class="bottom-right-plus"></div>
                    <div class="dotted-line"></div>
                </div>
            </div>
        </div>
        <script src="../static/js/particles.js" type="text/javascript"></script>
    </body>
</html>
